<h3>Menu</h3>

<div class="list-group list-group-flush">
    
    <NavLink href="" class="list-group-item list-group-item-action">Home</NavLink>
    
    <NavLink href="counter" class="list-group-item list-group-item-action">Button Counter Demo</NavLink>
</div>

@code {
    
}