@page "/"
@namespace _3_BlazorServer_ControlTesting.Pages
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <!-- Needed for <PageTitle> -->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="css/bootstrap/bootstrap.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>